{% extends 'base.html' %}

{% block title %}
    Graficos
{% endblock %}

{% block content %}   
   <div class="center">
        <h1>Graficos para Papers</h1>
   </div>
   <div class="center">
    
    <div class="select">
        <select>
          <option value="1">Tipo de Grafica</option>
          <option value="2">No JS</option>
          <option value="3">Nice!</option>
        </select>
      </div>
   </div>

    <div class="mas">
        <div class="div1" >
            <input id="s2" type="checkbox" class="switch" checked>
            <label for="s2">Mostrar</label> 
            <h1>Grafica</h1>
    
                      
        </div>

        <div class="div2 " >
            <input id="s2" type="checkbox" class="switch" checked>
            <label for="s2">Mostrar</label> 
            <div><h1>Matriz</h1></div>
        
        </div>
    </div>
{% endblock %}