{% extends 'base.html' %}

{% block title %}
    DataSet
{% endblock %}

{% block content %}

    <div class="center"><h1>Paper Utilizados</h1></div>
   <div class="center">
    
    <div class="select">
        <select>
          <option value="1">Pure CSS Select</option>
          <option value="2">No JS</option>
          <option value="3">Nice!</option>
        </select>
      </div>
   </div>

   <div class="container">
    <table>
        <thead>
            <tr>
                <th>Titels</th>
                <th>KeyWords</th>
                <th>Abstract</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Cell 1</td>
                <td>Cell 2</td>
                <td>Cell 3</td>

            </tr>
            <tr>
                <td>Cell 1</td>
                <td>Cell 2</td>
                <td>Cell 3</td>

            </tr>
            <tr>
                <td>Cell 1</td>
                <td>Cell 2</td>
                <td>Cell 3</td>
            </tr>
            <tr>
                <td>Cell 1</td>
                <td>Cell 2</td>
                <td>Cell 3</td>
            </tr>
            <tr>
                <td>Cell 1</td>
                <td>Cell 2</td>
                <td>Cell 3</td>
            </tr>
        </tbody>
    </table>
</div>


{% endblock %}