{% extends 'base.html' %}

{% block title %}
    DataSet
{% endblock %}

{% block content %}

    <div class="center"><h1>Paper Utilizados</h1></div>
    <form method="POST">
        <div class="center">   
        <div class="doblCol">
            <div class="select">
            <label for="tipo">Tipos de Artículos utilizados</label>
                <select id="tipo" name="tipo">
                <option value="2">Paper y sus referencias</option>
                <option value="1">Artículo</option>
                <option value="0">Referencias</option>
                </select>
            </div>
            <div class="separador"></div>
            <div class="select">
            <label for="tema">Temas de los Artículos utilizados</label>
                <select id="tema" name="tema">
                <option value="todos">Todos los temas</option>
                <option value="exactas">Matematicas</option>
                <option value="medi">Medicina</option>
                <option value="sociales">Ciencias Sociales</option>
                <option value="compu">Computación</option>
                </select>
            </div>
        </div>
        </div>
        <div class="center">
            <button class="boton_personalizado ">Filtrar</button>            
        </div>
    </form>
    <label class="labelCentrado">Número de filas:<b>{{ filas }}</b></label>
   

    <div class="center">
    <table>
        <thead>
            <th>Titulo</th>
            <th>Keywords</th>
            <th>Abstract</th>
        </thead>
        <tbody>
            {% for elemento in matriz %}
            <tr>
                <td>{{elemento.0}}</td>
                <td>{{elemento.1}}</td>
                <td>{{elemento.2}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    
    </div>
    


{% endblock %}