{% extends 'base.html' %}

{% block title %}
    Subir Archivo CSV
{% endblock %}

{% block content %}

<h2>Seleccionar para procesar y luego mostrar en tabla</h2>

<div class="center">
<div class="caja">
<p>Previamente a subir el archivo se debe tener en cuenta 
  las siguientes características del archivo CSV
  <ul>
    <li>Títulos en este orden: titulos, keywords, abstract, tipo, tema.<br>
    debemos tener encuenta que no deben tener espacios los titulos</li>
    <li>Eliminar comas ',' dentro del documento xls,xlt,xls,xml,etc. </li>
    <li>Ahora exportamos el CSV para subir</li>
  </ul>
</p>
</div>
</div>

<div class="center">
  <p>Selecciona el archivo a gestionar</p>
  <div class="separador"></div>   <input type="file" id="archivo2" />
</div>

<h3>Contenido del archivo:</h3>

<div id="tablares"></div>
<hr/>



<script>
function crearTabla(data) {
    const todasFilas = data.split(/\r?\n|\r/);
    let tabla = '<table>';
    for (let fila = 0; fila < todasFilas.length; fila++) {
      if (fila === 0) {
        tabla += '<thead>';
        tabla += '<tr>';
      } else {
        tabla += '<tr>';
      }
      const celdasFila = todasFilas[fila].split(',');
      for (let rowCell = 0; rowCell < celdasFila.length; rowCell++) {
        if (fila === 0) {
          tabla += '<th>';
          tabla += celdasFila[rowCell];
          tabla += '</th>';
        } else {
          tabla += '<td>';          
            tabla += celdasFila[rowCell];          
          tabla += '</td>';
        }
      }
      if (fila === 0) {
        tabla += '</tr>';
        tabla += '</thead>';
        tabla += '<tbody>';
      } else {
        tabla += '</tr>';
      }
    } 
    tabla += '</tbody>';
    tabla += '</table>';
    document.querySelector('#tablares').innerHTML = tabla;
  }

  function leerArchivo2(evt) {
    let file = evt.target.files[0];
    let reader = new FileReader();
    reader.onload = (e) => {
      // Cuando el archivo se terminó de cargar
      crearTabla(e.target.result)
    };
    // Leemos el contenido del archivo seleccionado
    reader.readAsText(file);
  }
  document.querySelector('#archivo2')
    .addEventListener('change', leerArchivo2, false);
</script>
{% endblock %}