<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Bienvenido</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='barraMenu.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap" rel="stylesheet">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-zoom/1.7.21/jquery.zoom.js"></script> 
<body>
    <nav>
    <a href="{{ url_for('proyecto.index')}}"> Inicio</a>
    <a href="{{ url_for('proyecto.matriz')}}">Matriz</a>
    <a href="{{ url_for('proyecto.graficos')}}">Mapas-Calor</a>
    <a href="{{ url_for('proyecto.clous')}}">Clustering</a>
    <a href="{{ url_for('proyecto.mds')}}">MDS</a>
    <a href="{{ url_for('proyecto.subir')}}">Subir CSV</a>
	<div class="animation start-home"></div>

    </nav>
    <section>{% block content %}{% endblock %}</section>

    <footer>
        <div>
            
            <ul>
              <li><a class="foo" href="mailto:dbedoyav1@est.ups.edu.ec" title="ENVIAME UN CORREO">&COPY; Diego Bedoya</a></li>
              <li><a class="foo" href="mailto:jgrandaf2@est.ups.edu.ec" title="ENVIAME UN CORREO">&COPY; Jhon Granda</a></li>
              <li><a class="foo" href="mailto:sgrijalvaa1@est.ups.edu.ec" title="ENVIAME UN CORREO">&COPY; Anthony Grijalva</a></li>
              <li><a class="foo" href="mailto:ssandovalh@est.ups.edu.ec" title="ENVIAME UN CORREO">&COPY; Sebastian Sandoval</a></li>
              <li><a class="foo" href="mailto:avillavicenciog1@est.ups.edu.ec" title="ENVIAME UN CORREO">&COPY; Alexis Villavicencio</a></li>              
              <li>
                <p>👋</p>
              </li>
            </ul>
          </div>
    </footer>
    

</body>
